<div class="container my-5">
    <section class="row mb-5">
      <div class="col-md-6">
        <h2>Acerca de nosotros...</h2>
        <p>
          Somos estudiantes de la carrera de Ingeniería en sistemas computacionales, cursando el 8 y penúltimo semestre de dicha carrera académica; y este trabajo centrado en el uso de CSS mediante figma en complemento con Bootstrap para crear una pagina responsiva, también llevando a cabo la edición del proyecto de manera grupal y el manejo de versiones mediante github, con el uso del lenguaje de programacion llamado Angular, es de la materia de Programación lógica y funcional, para llevar a la práctica de los conocimientos obtenidos en dicha materia.
        </p>
        <p>
            Este trabajo se centra en la recreación de una versión simplificada de la plataforma Spotify, utilizando Angular como framework principal para el desarrollo frontend. El objetivo es replicar, de forma lógica y funcional, algunas de las secciones más representativas de la interfaz de usuario de Spotify, integrando elementos de diseño modernos y componentes reutilizables para garantizar una navegación fluida y coherente.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/spotiaud.jpeg" alt="Our Story" class="img-fluid rounded-3">
      </div>
    </section>

    <section class="row mb-5 text-center">
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="assets/stat-icon1.png" alt="" class="card-img-top">
          <div class="card-body">
            <h3>57 millones</h3>
            <p>Usuarios en México</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card text-white" style="background-color: #16d25d;">
          <img src="assets/stat-icon2.png" alt="" class="card-img-top">
          <div class="card-body">
            <h3>678 millones</h3>
            <p>Usuarios en todo el mundo</p>
          </div>
        </div>
      </div>      
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="assets/stat-icon3.png" alt="" class="card-img-top">
          <div class="card-body">
            <h3>268 millones</h3>
            <p>Usuarios Premium</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="assets/stat-icon4.png" alt="" class="card-img-top">
          <div class="card-body">
            <h3>12%</h3>
            <p>Crecimiento anual</p>
          </div>
        </div>
      </div>
    </section>

    <section class="row mb-5 text-center">
        <div class="col-md-3 mb-3">
          <div class="card">
            <img src="assets/alexis.jpg" alt="img-fluid rounded-pill" class="img-thumbnail" style="height: 350px;">
            <div class="card-body">
              <h4>José Alexis Rodelas Arguijo</h4>
              <p>21610354</p>
              <div>
                <i class="fab fa-facebook me-3"></i>
                <i class="fab fa-instagram me-3"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card">
            <img src="assets/kevin.jpg" alt="Emma Watson" class="img-thumbnail" style="height: 350px;">
            <div class="card-body">
              <h4>Kevin Andrés Pompa Quezada</h4>
              <p>21610631</p>
              <div>
                <i class="fab fa-facebook me-3"></i>
                <i class="fab fa-instagram me-3"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card">
            <img src="assets/hector.jpg" alt="Will Smith" class="img-thumbnail" style="height: 350px;">
            <div class="card-body">
              <h4>Héctor Adrián Montoya Pizarro</h4>
              <p>21610338</p>
              <div>
                <i class="fab fa-facebook me-3"></i>
                <i class="fab fa-instagram me-3"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card">
            <img src="assets/kevinm.jpg" alt="Nuevo Miembro" class="img-thumbnail" style="height: 350px;">
            <div class="card-body">
              <h4>Kevin Morales Rodríguez</h4>
              <p>21610630</p>
              <div>
                <i class="fab fa-facebook me-3"></i>
                <i class="fab fa-instagram me-3"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="row mb-5">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <img src="assets/logotec.png" alt="Nuevo Miembro" class="img-thumbnail" style="height: 120px;">
          <h5>Instituto Tecnológico de Ciudad Cuauhtémoc</h5>
          <p>Ingeniería en sistemas computacionales</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <h5></h5>
          <p></p>
        </div>
      </div>
    </section>
  </div>
  