.spotify-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #181818;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.track-info img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  flex-direction: column; /* Apila imagen y detalles verticalmente */
  text-align: center;
}

.track-details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.track-details strong,
.track-details small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 1 100%;
  margin-top: 8px;
  box-sizing: border-box;
}

.controls i {
  font-size: 38px;
  cursor: pointer;
}

.progress-container {
  width: 100%;
  margin-top: 6px;
  box-sizing: border-box;
}

.progress-bar {
  height: 4px;
  background-color: #404040;
  border-radius: 2px;
  overflow: hidden;
  width: 90%;
}

.progress {
  height: 100%;
  background-color: #1db954;
  width: 0%;
  transition: width 0.2s linear;
}

.device {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #1db954;
  justify-content: center;
}

@media (min-width: 768px) {
  .spotify-player {
    flex-wrap: nowrap;
    padding: 10px 20px;
  }

  .track-info {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .controls {
    flex: 0 0 60%;
    max-width: 60%;
    justify-content: center;
    margin-bottom: 8px;
  }

  .progress-container {
    flex: 0 0 100%;
    max-width: 80%;
    margin-top: 0;
  }

  .device {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  max-width: 95%;
  margin-top: 8px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .center-section {
    flex: 1;
    max-width: 100%;
    margin-top: 0;
  }
}