    body{
        padding: 10px 0px 50px 0px;
    }

    .sidebar-menu {
      border-right: 1px solid #ddd;
      height: 100%;
    }
    .flash-sale-title {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .flash-sale-timer span {
      font-weight: bold;
      color: #000;
    }

    .sale-badge {
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: #16d25d;
      color: white;
      padding: 2px 6px;
      font-size: 0.75rem;
      border-radius: 4px;
      z-index: 100;
    }
    
    .product-card {
      /*border: 1px solid #eee;*/
      border-radius: 8px;
      padding: 10px;
      text-align: center;
      position: relative;
    }

    .image-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .image-wrapper img {
      width: 100%;
      display: block;
      border-radius: 8px;
    }

    .play-button {
      position: absolute;
      bottom: 18px;
      right: 8px;
      background-color: #16d25d;
      color: white;
      border-radius: 50%;
      width: 30%; 
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
      opacity: 0;
      transition: opacity 0.3s ease;
      cursor: pointer;
    }

    .image-wrapper:hover .play-button {
      opacity: 1;
    }
    .category-icon {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px 10px;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }
    .category-icon:hover {
      background-color: #16d25d;
      color: #fff;
    }
    .category-icon.active {
      background-color: #16d25d;
      color: white;
    }

    a{
        text-decoration: none;
    }

    .btonver{
        background-color: #16d25d;
        color: white;
        border: none;
    }

    .btonver:hover{
        background-color: #04963c;
        color: white;
        border: none;
    }

    .text-decorativo{
        color: #16d25d;
    }

      .categorias-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      margin-bottom: 2rem;
    }

    .categoria-card {
      width: 150px;
      height: 150px;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      text-align: center;
      background: #fff;
      transition: transform 0.2s;
    }

    .categoria-card:hover {
      transform: scale(1.05);
    }

    .categoria-card img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }

    .categoria-card p {
      margin: 4px 0;
      font-weight: bold;
    }

    .canciones-scroll {
      display: flex;
      overflow-x: auto;
      gap: 12px;
      padding: 8px 0;
    }

    .cancion-card {
      min-width: 120px;
      max-width: 150px;
      text-align: center;
    }

    .cancion-card img {
      width: 100%;
      border-radius: 8px;
    }