/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Fuente';
    src: url('src\assets\fonts\static\Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Fuente', sans-serif;
  }