/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Fuente';
    src: url('src\assets\fonts\static\Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* Tema claro */
.light-theme {
  --background-color: #f8f9fa;
  --text-color: #000000;
  --navbar-bg: #ffffff;
  --sobresaliente: #ffffff;
}

/* Tema oscuro */
.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-bg: #2a2a2a;
  --sobresaliente: #2a2a2a;
}

/* Aplicar variables de CSS */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Fuente', sans-serif;
}

.navbar {
  background-color: var(--navbar-bg);
}

.sobresaliente {
  background-color: var(--sobresaliente);
  color: var(--text-color);
}

.text {
  color: var(--text-color);
}

a {
  color: #16d25d;
}