<div class="container my-5">
    <!-- Best Selling Products -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <h4 class="fw-bold">Tus Favoritos</h4>
      </div>
    </div>
  
    <div class="row g-3">
      <div *ngFor="let cancion of favoritos" class="col-6 col-md-2">
        <div class="product-card">
          <div class="image-wrapper">
            <img [src]="cancion.album.images[0].url" class="img-fluid mb-2" alt="Product">
            <div class="play-button" (click)="reproducir(cancion.uri)">
              <i class="bi bi-play-fill"></i>
            </div>
          </div>
          <p class="mb-1 small">{{ cancion.name }}</p>
          <p class="mb-1 small">{{ cancion.artists[0].name }}</p>
        </div>
      </div>
    </div>
</div>